player-connection-mode=Connect
player-connection-guid=2283119616
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.55
profiler-enable=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=93b2f20fddda4683a5711914cddb9de7
